.card {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 24px;


  &__title {
    font-family: neue-haas-unica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #383838;
    flex: auto;
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }

  &__emotions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__analytics {
    font-family: neue-haas-unica;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #383838;

    &__bold {
      font-weight: bold;
    }
  }
}