.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #ABABAB;
  border-radius: 2px;
  padding: 8px 12px;

  &__input {
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: none;
    flex-grow: 4;
  }

  &__icon {
    flex-grow: 1;
  }
}